* {
  box-sizing: border-box; }

#header {
  background-image: url("../images/boy-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 128px; }
  #header .header-content {
    max-width: 1200px;
    margin: 0 auto; }
    #header .header-content .header-top-nav {
      display: flex;
      justify-content: space-between;
      background: transparent; }
      #header .header-content .header-top-nav .logo {
        margin-top: 42px;
        margin-left: 30px; }
      #header .header-content .header-top-nav nav {
        text-transform: uppercase;
        margin-top: 50px;
        margin-right: 50px; }
        #header .header-content .header-top-nav nav .active {
          color: white;
          padding-bottom: 40px;
          border-bottom: 5px solid #00b5d2; }
        #header .header-content .header-top-nav nav ul {
          float: right; }
          #header .header-content .header-top-nav nav ul li {
            display: inline-block;
            float: left;
            margin-left: 25px; }
            #header .header-content .header-top-nav nav ul li a {
              display: inline-block;
              outline: none;
              color: #454545;
              font-size: 16px;
              text-decoration: none;
              letter-spacing: .04em; }
              #header .header-content .header-top-nav nav ul li a:hover {
                color: white;
                text-decoration: none; }
  @media screen and (max-width: 560px) {
    #header .nav-container {
      position: fixed;
      top: 60px;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: gray;
      opacity: 0;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      #header .nav-container ul {
        position: absolute;
        top: 10%;
        transform: translateY(-50%);
        width: 100%;
        padding-right: 2vw; }
        #header .nav-container ul li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px; }
          #header .nav-container ul li:nth-child(1) a {
            transition-delay: 0.2s; }
          #header .nav-container ul li:nth-child(2) a {
            transition-delay: 0.3s; }
          #header .nav-container ul li:nth-child(3) a {
            transition-delay: 0.4s; }
          #header .nav-container ul li:not(:first-child) {
            margin-left: 0; }
          #header .nav-container ul li a {
            padding: 10px 25px;
            opacity: 0;
            color: black;
            font-size: 24px;
            font-weight: 600;
            transform: translateY(-20px);
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease; }
    #header .nav-open {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%; }
      #header .nav-open i {
        display: block;
        width: 20px;
        height: 2px;
        background: #454545;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        margin-left: 14px; }
        #header .nav-open i:nth-child(1) {
          margin-top: 14px; }
        #header .nav-open i:nth-child(2) {
          margin-top: 4px;
          opacity: 1; }
        #header .nav-open i:nth-child(3) {
          margin-top: 4px; } }
  #header #nav:checked + .nav-open {
    transform: rotate(45deg); }
    #header #nav:checked + .nav-open i {
      background: black;
      transition: transform 0.2s ease; }
      #header #nav:checked + .nav-open i:nth-child(1) {
        -webkit-transform: translateY(6px) rotate(180deg);
        -moz-transform: translateY(6px) rotate(180deg);
        -ms-transform: translateY(6px) rotate(180deg);
        -o-transform: translateY(6px) rotate(180deg);
        transform: translateY(6px) rotate(180deg); }
      #header #nav:checked + .nav-open i:nth-child(2) {
        opacity: 0; }
      #header #nav:checked + .nav-open i:nth-child(3) {
        -webkit-transform: translateY(-6px) rotate(90deg);
        -moz-transform: translateY(-6px) rotate(90deg);
        -ms-transform: translateY(-6px) rotate(90deg);
        -o-transform: translateY(-6px) rotate(90deg);
        transform: translateY(-6px) rotate(90deg); }
  #header #nav:checked ~ .nav-container {
    z-index: 9990;
    opacity: 1; }
    #header #nav:checked ~ .nav-container ul li a {
      opacity: 1;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }
  #header .hidden {
    display: none; }
  #header .top-block {
    margin-top: 11vw;
    margin-left: 26px; }
    #header .top-block .preview-text {
      max-width: 38.8vw; }
      #header .top-block .preview-text h1 {
        color: white;
        font-size: 4vw;
        padding-bottom: 25px;
        letter-spacing: 1.5px;
        font-weight: 900; }
        #header .top-block .preview-text h1 span {
          border-bottom: #00b5d2 solid 5px;
          padding-bottom: 17px; }
      #header .top-block .preview-text p {
        font-family: 'Lato', sans-serif;
        margin-top: 16px;
        color: white;
        line-height: 1.8;
        letter-spacing: 0.9px;
        padding-left: 4px; }
      #header .top-block .preview-text button {
        width: 286px;
        height: 71px;
        background: #e1aa6e;
        color: white;
        margin-top: 42px;
        margin-left: 4px;
        font-size: 20px;
        text-transform: uppercase;
        border: none;
        border-bottom: 8px solid #ba8e5b; }

#clients {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  margin-bottom: 18px; }
  #clients > div {
    padding: 0 10px; }
    #clients > div img {
      max-width: 100%;
      height: auto; }

#support {
  background-color: #00b5d2;
  position: relative; }
  #support .support-top {
    max-width: 1200px;
    margin: 0 auto;
    height: 37vw;
    padding-top: 8.2vw; }
    #support .support-top h1 {
      text-align: center;
      color: white;
      font-size: 4vw;
      padding-bottom: 25px;
      letter-spacing: 1.5px;
      font-weight: 900; }
    #support .support-top p {
      font-family: 'Lato', sans-serif;
      color: white;
      line-height: 1.8;
      letter-spacing: 0.9px;
      padding-left: 4px;
      text-align: center; }
    #support .support-top .support-image {
      position: absolute;
      text-align: center;
      bottom: 0;
      left: -50%;
      transform: translateX(100%); }
      @media screen and (max-width: 560px) {
        #support .support-top .support-image {
          display: none; } }
      #support .support-top .support-image img {
        margin-bottom: -0.6vw; }
        @media screen and (max-width: 768px) {
          #support .support-top .support-image img {
            height: 10vw; } }

#services {
  text-align: center;
  padding-top: 5.8vw; }
  #services h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px; }
  #services div {
    margin-top: 3vw;
    font-size: 1.6vw;
    line-height: 1.4; }
    #services div p {
      max-width: 65vw;
      margin: 0 auto; }
  #services button {
    width: 286px;
    height: 71px;
    background: #e1aa6e;
    color: white;
    margin-top: 3vw;
    margin-left: 4px;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-bottom: 8px solid #ba8e5b; }

.slider {
  margin: 0 auto;
  max-width: 755px; }

.slide_viewer {
  height: 500px;
  overflow: hidden;
  position: relative; }

.slide_group {
  height: 100%;
  position: relative;
  width: 100%; }

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%; }
  .slide:first-child {
    display: block; }
  .slide:nth-of-type(1) {
    background: #D7A151; }
  .slide:nth-of-type(2) {
    background: #F4E4CD; }
  .slide:nth-of-type(3) {
    background: #C75534; }
  .slide:nth-of-type(4) {
    background: #D1D1D4; }
