$link-color: #454545;
$color-white: white;
$button-brown: #e1aa6e;
$border-color: #00b5d2;

* {
  box-sizing: border-box;
}

#header {
  background-image: url("../images/boy-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 11vw;
  @media screen and (max-width: 320px) {
    background-position-y: -70px;
  }
  .header-content {
    max-width: 1200px;
    margin: 0 auto;
    .header-top-nav {
      display: flex;
      justify-content: space-between;
      background: transparent;
      .logo {
        margin-top: 3.3vw;
        margin-left: 2.5vw;
        img {
          @media screen and (max-width: 320px) {
            width: 90%;
          }
        }
      }
      nav {
        text-transform: uppercase;
        margin-top: 4vw;
        margin-right: 4vw;
        .active {
          color: white;
          padding-bottom: 40px;
          border-bottom: 5px solid $border-color;
        }
        ul {
          float: right;
          li {
            display: inline-block;
            float: left;
            margin-left: 25px;
            a {
              display: inline-block;
              outline: none;
              color: $link-color;
              font-size: 16px;
              text-decoration: none;
              letter-spacing: .04em;
              &:hover {
                color: $color-white;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 568px) {
    .nav-container {
      position: fixed;
      top: 60px;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: gray;
      opacity: 0;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      ul {
        position: absolute;
        top: 10%;
        transform: translateY(-50%);
        width: 100%;
        padding-right: 2vw;
        li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
          &:nth-child(1) {
            a {
              transition-delay: 0.2s;
            }
          }
          &:nth-child(2) {
            a {
              transition-delay: 0.3s;
            }
          }
          &:nth-child(3) {
            a {
              transition-delay: 0.4s;
            }
          }
          &:not(:first-child) {
            margin-left: 0;
          }
          a {
            padding: 10px 25px;
            opacity: 0;
            color: black;
            font-size: 24px;
            font-weight: 600;
            transform: translateY(-20px);
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }
        }
      }
    }
    .nav-open {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      @media screen and (max-width: 320px) {
        top: 0;
        right: 0;
      }
      i {
        display: block;
        width: 20px;
        height: 2px;
        background: $link-color;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        margin-left: 14px;
        &:nth-child(1) {
          margin-top: 14px;
        }
        &:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
        }
        &:nth-child(3) {
          margin-top: 4px;
        }
      }
    }
  }
  #nav:checked {
    + .nav-open {
      transform: rotate(45deg);
      i {
        background: black;
        transition: transform 0.2s ease;
        &:nth-child(1) {
          -webkit-transform: translateY(6px) rotate(180deg);
          -moz-transform: translateY(6px) rotate(180deg);
          -ms-transform: translateY(6px) rotate(180deg);
          -o-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          -webkit-transform: translateY(-6px) rotate(90deg);
          -moz-transform: translateY(-6px) rotate(90deg);
          -ms-transform: translateY(-6px) rotate(90deg);
          -o-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
        }
      }
    }
  }
  #nav:checked {
    ~ .nav-container {
      z-index: 9990;
      opacity: 1;
      ul {
        li {
          a {
            opacity: 1;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
  .top-block {
    margin-top: 11vw;
    margin-left: 26px;
    .preview-text {
      max-width: 38.8vw;
      h1 {
        color: white;
        font-size: 4vw;
        padding-bottom: 25px;
        letter-spacing: 1.5px;
        font-weight: 900;
        @media screen and (max-width: 320px) {
          font-size: 5.5vw;
        }
        span {
          border-bottom: $border-color solid 5px;
          padding-bottom: 17px;
        }
      }
      p {
        font-family: 'Lato', sans-serif;
        margin-top: 16px;
        color: white;
        line-height: 1.8;
        letter-spacing: 0.9px;
        padding-left: 4px;

      }

      button {
        width: 23.7vw;
        height: 5.8vw;
        background: $button-brown;
        color: white;
        margin-top: 42px;
        margin-left: 4px;
        font-size: 1.7vw;
        text-transform: uppercase;
        border: none;
        border-bottom: 8px solid #ba8e5b;
      }
    }
  }
}

#clients {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  margin-bottom: 18px;
  > div {
    padding: 0 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

#support {
  background-color: $border-color;
  position: relative;
  height: 41.7vw;
  @media screen and (max-width: 320px) {
    height: 55vw;
  }
  .support-top {
    max-width: 1200px;
    margin: 0 auto;
    height: 37vw;
    padding-top: 8.2vw;
    h1 {
      text-align: center;
      color: white;
      font-size: 4vw;
      padding-bottom: 25px;
      letter-spacing: 1.5px;
      font-weight: 900;
    }
    p {
      font-family: 'Lato', sans-serif;
      color: white;
      line-height: 1.8;
      letter-spacing: 0.9px;
      padding-left: 4px;
      text-align: center;
      margin-top: 4px;
    }
    .support-image {
      position: absolute;
      text-align: center;
      bottom: 0;
      left: -50%;
      right: 50%;
      transform: translateX(50%);
      @media screen and (max-width: 568px) {
        display: none;
      }
      img {
        margin-bottom: -0.6vw;
        @media screen and (max-width: 768px) {
          height: 16vw;
        }
      }
    }
  }
}

#services {
  text-align: center;
  padding-top: 5.8vw;
  padding-bottom: 5.8vw;
  h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
  }
  div {
    margin-top: 3vw;
    font-size: 1.6vw;
    line-height: 1.4;
    p {
      max-width: 65vw;
      margin: 0 auto;
    }
  }
  button {
    width: 23.7vw;
    height: 5.8vw;
    background: $button-brown;
    color: white;
    margin-top: 3vw;
    margin-left: 4px;
    font-size: 1.7vw;
    text-transform: uppercase;
    border: none;
    border-bottom: 8px solid #ba8e5b;
  }
}

#slider-section {
  background: url("../images/slider-bg.jpg");
  .slider-wrapper {
    padding-top: 9.7vw;
    .slider {
      margin: 0 auto;
      max-width: 755px;
      position: relative;
      bottom: -30px;
      border: 8px solid white;
    }
    .slide_viewer {
      height: 36vw;
      overflow: hidden;
      position: relative;
      @media screen and (max-width: 1200px) {
        height: 40.7vw;
      }
      @media screen and (max-width: 768px) {
        height: 64vw;
      }
    }
    .slide_group {
      height: 100%;
      position: relative;
      width: 100%;
    }
    .slide {
      display: none;
      height: 100%;
      position: absolute;
      width: 100%;
      .left-overlay {
        position: absolute;
        height: 100%;
        width: 34%;
        background: #00b5d2;
        opacity: .3;
        top: 0;
      }
      .center-overlay {
        position: absolute;
        height: 100%;
        width: 33%;
        background: #1b97c5;
        opacity: .3;
        top: 0;
        left: 34%;
      }
      .right-overlay {
        position: absolute;
        height: 100%;
        width: 33%;
        background: #0067ac;
        opacity: .3;
        top: 0;
        left: 67%;
      }
      img {
        width: 100%;
      }
    }
  }
}

#join-us {
  font-family: Lato, sans-serif;
  display: flex;
  margin-top: 7.5vw;
  background: #367ab7;
  color: white;
  margin-bottom: 60px;
  img {
    height: 100%;
  }
  @media screen and (max-width: 768px) {
    display: block;
    text-align: center;
    .join-left {
      img {
        width: 100%;
      }
    }
    .join-right {
      p {
        margin: 0 auto;
      }
    }
  }
  .join-right {
    margin-left: 2.4vw;
    padding-top: 3.3vw;
    i {
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.8px;
    }
    h1 {
      margin-top: 3vw;
      font-size: 4vw;
      padding-bottom: 25px;
      letter-spacing: 1.5px;
      font-weight: 900;
      @media screen and (max-width: 320px) {
        font-size: 5.5vw;
      }
      span {
        border-bottom: $border-color solid 5px;
        padding-bottom: 8px;
      }
    }
    p {
      max-width: 480px;
      margin-top: 0.5vw;
      letter-spacing: 0.9px;
      line-height: 30px;
    }
    button {
      width: 23.7vw;
      height: 5.8vw;
      background: #00b5d2;
      color: white;
      margin-top: 38px;
      font-size: 1.7vw;
      text-transform: uppercase;
      border: none;
      border-bottom: 8px solid #008ea5;
    }
  }
}
