$link-color: #454545;
$color-white: white;
$button-brown: #e1aa6e;
$border-color: #00b5d2;


* {
  box-sizing: border-box;
}

#header {
  background-image: url("../images/boy-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  font-family: 'Lato', sans-serif;
  .header-top-nav {
    display: flex;
    justify-content: space-between;
    background: transparent;
    .logo {
      margin-top: 42px;
      margin-left: 30px;
    }
    nav {
      text-transform: uppercase;
      margin-top: 50px;
      margin-right: 50px;
      .active {
        color: white;
        padding-bottom: 40px;
        border-bottom: 5px solid $border-color;
      }
      ul {
        float: right;
        li {
          display: inline-block;
          float: left;
          margin-left: 25px;
          a {
            display: inline-block;
            outline: none;
            color: $link-color;
            font-size: 16px;
            text-decoration: none;
            letter-spacing: .04em;
            &:hover {
              color: $color-white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 560px) {
    .nav-container {
      position: fixed;
      top: 60px;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: gray;
      opacity: 0;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      ul {
        position: absolute;
        top: 10%;
        transform: translateY(-50%);
        width: 100%;
        padding-right: 2vw;
        li {
          display: block;
          float: none;
          width: 100%;
          text-align: right;
          margin-bottom: 10px;
          &:nth-child(1) {
            a {
              transition-delay: 0.2s;
            }
          }
          &:nth-child(2) {
            a {
              transition-delay: 0.3s;
            }
          }
          &:nth-child(3) {
            a {
              transition-delay: 0.4s;
            }
          }
          &:not(:first-child) {
            margin-left: 0;
          }
          a {
            padding: 10px 25px;
            opacity: 0;
            color: black;
            font-size: 24px;
            font-weight: 600;
            transform: translateY(-20px);
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }
        }
      }
    }
    .nav-open {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 9999;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      i {
        display: block;
        width: 20px;
        height: 2px;
        background: $link-color;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        margin-left: 14px;
        &:nth-child(1) {
          margin-top: 14px;
        }
        &:nth-child(2) {
          margin-top: 4px;
          opacity: 1;
        }
        &:nth-child(3) {
          margin-top: 4px;
        }
      }
    }
  }
  #nav:checked {
    + .nav-open {
      transform: rotate(45deg);
      i {
        background: black;
        transition: transform 0.2s ease;
        &:nth-child(1) {
          -webkit-transform: translateY(6px) rotate(180deg);
          -moz-transform: translateY(6px) rotate(180deg);
          -ms-transform: translateY(6px) rotate(180deg);
          -o-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          -webkit-transform: translateY(-6px) rotate(90deg);
          -moz-transform: translateY(-6px) rotate(90deg);
          -ms-transform: translateY(-6px) rotate(90deg);
          -o-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
        }
      }
    }
  }
  #nav:checked {
    ~ .nav-container {
      z-index: 9990;
      opacity: 1;
      ul {
        li {
          a {
            opacity: 1;
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
            transform: translateY(0);
          }
        }
      }
    }
  }
  .hidden {
    display: none;
  }
  .top-block {
    margin-top: 132px;
    margin-left: 26px;
    .preview-text {
      width: 466px;
      h1 {
        color: white;
        font-size: 48px;
        padding-bottom: 25px;
        letter-spacing: 1.5px;
        font-weight: 900;
        span {
          border-bottom: $border-color solid 5px;
          padding-bottom: 17px;
        }
      }
      p {
        font-family: 'Lato', sans-serif;
        margin-top: 16px;
        color: white;
        line-height: 1.8;
        letter-spacing: 0.9px;
        padding-left: 4px;

      }

      button {
        width: 286px;
        height: 71px;
        background: $button-brown;
        color: white;
        margin-top: 42px;
        margin-left: 4px;
        font-size: 20px;
        text-transform: uppercase;
        border: none;
        border-bottom: 8px solid #ba8e5b;
      }
    }
  }
  padding-bottom: 128px;
}
#clients{
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  > div{
    padding: 0 10px;
      img{
        max-width: 100%;
        height: auto;
    }
  }
}